# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if ZMK_POINTING

config ZMK_INPUT_PROCESSOR_REPORT_RATE_LIMIT
    bool "Rate limiter"
    default y
    depends on DT_HAS_ZMK_INPUT_PROCESSOR_REPORT_RATE_LIMIT_ENABLED

config ZMK_INPUT_PROCESSOR_REPORT_RATE_LIMIT_DEFAULT
    int "Default limit (delay between transmissions, msec)"
    default 8

endif
